spring:
  profiles:
    default: local
    group:
      local:
        - common
      prod:
        - common
---
spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:mysql://localhost:3306/local_solchell
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:mysql://34.22.95.5:3306/solchell
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
---
spring:
  config:
    activate:
      on-profile: common

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true

  cloud:
    gcp:
      storage:
        credentials:
          location: classpath:storageKey.json
        project-id: gdsc-seoultech
        bucket: gdsc-solchell

firebase:
  credential:
    resource-path: firebase.json

